<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">
  <div class="row header-alignment d-flex" data-ng-controller="withdrawCtrl" data-ng-init="loginDuration();">
    <div class="col-xl-7 col-lg-6 col-12 pr-lg-0 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-lg text-green">
        </span>
        <div class="table-responsive-sm">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-black text-blue">
                <th scope="col">Fiat</th>
                <th scope="col">Balance</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let b of main.balencelist; let i=index">
              <tr *ngIf="b.sendAccess==0">
               <td class="text-yellow">{{b.currencyCode|uppercase}}</td>
                <td class="text-white">{{b.closingBalance}}</td>
                <td>
                  <a *ngIf="b.sendAccess==0" class="text-white deposit-btn" (click)="getWithdrawModal(withdraw,b.currencyCode,b.closingBalance,b.currencyId)"
                    href="javascript:void(0);">WITHDRAW</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ng-template #withdraw let-modal>
      <div class="w-100"></div>
      <div class="modal-header">
        <h5 class="modal-title text-blue" id="receiveModalLabel">Withdraw</h5>
        <button class="close" type="button" (click)="modal.close()"> <span aria-hidden="true">×</span> </button>
      </div>
      <!-- <div class="form-row mt-2">

      </div> -->
      <div class="form-row mt-2">
        <div class="col-12 col-md-5 depo-text ">
          <label for="inputSellBTC" class="col-form-label ">Enter Withdrawal Amount</label>
        </div>
        <div class="col-12 col-md-7">
          <div class="input-group mb-2">
            <input type="number" step="0.01" class="form-control rounded only_amount" id="withdraw_fund_amount" [(ngModel)]="withdraw_fund_amount"
              placeholder="0.00" #am="ngModel" required>
            <div *ngIf ="CurrencyCode =='USD'" class="input-group-append">
              <div class="input-group-text bg-transparent border-0">USD</div>
            </div>
            <div *ngIf ="CurrencyCode !='USD'" class="input-group-append">
              <div class="input-group-text bg-transparent border-0">AED</div>
            </div>
          </div>
          <small *ngIf="CurrencyCode =='USD'">
            <small>Minimum of $ {{minvalue}} and Maximum $ {{maxvalue}} can be withdrawn</small>
          </small>
          <small *ngIf="CurrencyCode !='USD'">
            <small>Minimum of {{minvalueAed}}د.إ and Maximum {{maxvalueAed}}د.إ can be withdrawn</small>
          </small>
        </div>
      </div>
      <div class="form-row mt-2 mb-2">
        <div class="col-12 col-md-8 offset-md-4" *ngIf="CurrencyCode =='USD'">
          <button type="submit" class="btn btn-green" id="wfn" [disabled]="am.invalid||withdraw_fund_amount<minvalue||withdraw_fund_amount>maxvalue" (click)="determineLockStatusForWithdraw()">WITHDRAW</button>
        </div>
        <div class="col-12 col-md-8 offset-md-4" *ngIf="CurrencyCode !='USD'">
          <button type="submit" class="btn btn-green" id="wfn" [disabled]="am.invalid||withdraw_fund_amount<minvalueAed||withdraw_fund_amount>maxvalueAed" (click)="determineLockStatusForWithdraw()">WITHDRAW</button>
        </div>
      </div>
      <div class="form-row mt-2 mb-2">
        <div class="col-12 col-md-8 offset-md-4">
          <div class="small"><span class="text-white">*</span> {{withdrawTxnChargeDisclaimer}}</div>
        </div>
      </div>
    </ng-template>
    <div class="col-xl-5 col-lg-6 col-12 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100"> <span class="font-md text-white mr-2">Customer Bank Details</span>
        <div><span class="text-white">*Withdrawal will credited to the below account</span></div>
        <ul class="list-group mb-2">
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Account Holder:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{beneficiaryName}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Bank Account No:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{accountNo}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Routing No.:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{routingNo}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Bank Name:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{bankName}}</span></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
    <div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="receiveModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-blue" id="receiveModalLabel">OTP</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form autocomplete="off">
              <div class="form-row text-center">
                <div class="col-12">
                  <input type="password" class="form-control" id="withdrawOtp" [(ngModel)]="withdrawOtp" name="withdrawOtp">
                  <a href="javascript:void(0);" (click)="resendOtpForOutgoing()" class="float-right">Resend OTP</a>
                </div>
                <div class="col-12 generate_address_btn mt-5">
                  <button type="submit" class="btn btn-green send_btn" style="display:none;" (click)="withdrawFund()">WITHDRAW</button>
                  <button type="submit" class="btn btn-green get_Otp_btn" (click)="resendOtpForOutgoing()">GET OTP</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>