<div [ngResizable]="data.resize" class="bg-dark p-2 pl-3 pr-3 rounded h-35 resizable-widget">
  <ul class="nav navbar-nav">

    <li class="dropdown">
      <a href="javascript:void(0);" class="dropdown-toggle asset-font" (click)="myFunction()" data-toggle="dropdown">{{this.currency_code}} /
        {{ this.base_currency}}<span class="caret"></span></a>
      <ul class="dropdown-menu menu-stl" role="menu" id="myDropdown">

        <div class="table-hight solid" id="asset-table">
          <button class="btn btn-dark font-xs filter-button asset-dtl-font btn-in"
            (click)="getNewCurrency('USDT')">USDT</button>
          <button class="btn btn-dark font-xs filter-button asset-dtl-font btn-in" (click)="getNewCurrency('ETH')">ETH</button>
          <button class="btn btn-dark font-xs filter-button asset-dtl-font btn-in" (click)="getNewCurrency('BTC')">BTC</button>

          <span class="rap-select" >
            <label 
              class="btn btn-dark font-xs filter-button asset-dtl-font label-sz btn-in" (click)="getNewCurrency('ALL')">FIAT</label>
            <select class="btn font-xs asset-dtl-font "
              (change)="getNewCurrency($event.target.value)">
              <option >ALL</option>
              <option>USD</option>
              <option>AED</option>
            </select>
          </span>


          <div class="row">
            <table class="table table-sm">
              <thead>
                <tr class="bg-black text-blue text-head">
                  <th scope="col" class="text-left"> Pair</th>
                  <th scope="col" class="text-right">Last Price</th>
                  <th scope="col text-right" class="text-right">ROC</th>
                  <th scope="col text-right" class="text-right">Volume</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of assetetpair">
                  <td class="asset-dtl-font font-weight-bold" style="color:white;"
                    (click)="buySellCode(m)"><a class="asset-dtl-font text-center" style="color:white;font-size: 15px;" href="javascript:void(0);"><img
                        src="{{'../../assets/img/currency/'+ m.currencycode+'.svg'}}" width="16" style="padding-right: 5px;"
                        alt="" />{{m.currencycode}}/{{m.basecurrency}}</a></td>
                  <td class="text-white asset-dtl-font text-right" style="font-size: 13px;">{{m.lasttrade}}</td>
                  <!-- <td class="text-white asset-dtl-font text-right" style="color:rgb(4, 146, 28);" >{{m.roc|number : '.2-2'}}</td> -->
                  <td class="asset-dtl-font text-right roc-green" style="font-size: 13px;" *ngIf="m.RocColor == true">{{m.roc|number : '.2-2'}}</td>
                  <td class="asset-dtl-font text-right roc-red" style="font-size: 13px;" *ngIf="m.RocColor != true">{{m.roc|number : '.2-2'}}</td>
                  
                  <td class="text-white asset-dtl-font text-right" style="font-size: 13px;">{{m.volume|number : '.2-2'}}</td>
                </tr>
              </tbody>
            </table>


          </div>


        </div>
      </ul>
    </li>
  </ul>
  <!-- <div ngbDropdown class="">
    <div>
      <button ngbDropdownToggle type="button" (click)="getNewCurrency()"
        class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black btn-drpodwn text-left select-coin-dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{this.currency_code}} / {{ this.base_currency}}
      </button>
    </div>
    <div ngbDropdownMenu class="dropdown-menu select-coin-list" id="dropHolder" style="width:239%">
      <div class="table coin-select">
        <table style="width:45%;">
          <tr>
            <th *ngFor="let count of header">
              <p >
                <img src="{{'../../assets/img/currency/'+ count+'.svg'}}" width="24" alt="" />{{count}}
              </p>
              
            </th>

          </tr>
          <p style="width:25%;float:left;">
            <tr *ngFor="let item of assets">
              <td *ngIf="item.baseCurrency=='USDT'" (click)="buySellCode(item)">
                <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                    alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

              </td>
            </tr>
          </p>
          <p style="width:25%;float:left;">
            <tr *ngFor="let item of assets">
              <td *ngIf="item.baseCurrency=='BTC'" (click)="buySellCode(item)">
                <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                    alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

              </td>
            </tr>
          </p>
          <p style="width:25%;float:left;">
            <tr *ngFor="let item of assets">
              <td *ngIf="item.baseCurrency=='ETH'" (click)="buySellCode(item)">
                <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                    alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

              </td>
            </tr>
          </p>
        
          <p style="width:25%;float:left;">
            <tr *ngFor="let item of assets">
              <td *ngIf="item.baseCurrency!='USDT' && item.baseCurrency!='BTC' && item.baseCurrency!='ETH'"
                (click)="buySellCode(item)">
                <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                    alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
              </td>
            </tr>
          </p>
        </table>

      </div>
    </div>

  </div>

 -->

  <!--dhriti  -->
  <div class="tab-pane fade show active" id="orderbook" role="tabpanel" aria-labelledby="orderbook-tab">
    <div class="row">
      <!-- <div class="tab-content col-md-6" id="trade-details-tableContent" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"> -->
      <div class="col-md-6 border-col order-gap">
        <div class="order-id table-responsive">
          <div class="price-orderbook">Amount</div>
          <div class="price-orderbook">Price</div>
          <div class="price-orderbook">Total</div>
        </div>
        <div class="cont tabe-responsive_left_sell">
          <table class="table sell-orderbook table-sm" data-module="sticky-table">
            <!-- <span class="table-position"> -->
            <thead>
              <tr class="bg-black text-blue">
                <!-- <th class="toal-price" scope="col">{{'HOME.TOTAL'|translate}}</th>
                     <th class="orderbook-price" scope="col">{{'HOME.PRICE'|translate}}</th>
                     <th class="amount-orderbook" scope="col">{{'HOME.AMOUNT'|translate}}</th> -->
              </tr>
            </thead>
            <!-- </span> -->
            <!-- <tbody id="orderbookAskBody" [innerHTML]="askBody"></tbody> -->
            <tbody *ngIf="askdata !=''">
              <tr class="" *ngFor="let m of askdata;let i = index;">
                <td class="{{'text-right'+' '+i+'newclass'}}">{{m.amount*m.price | number : '.7-7'}}</td>
                <td class="{{'text-red'+' '+i+'newclass'}}">{{m.price | number : '.7-7'}}</td>
                <td class="{{'text-left'+' '+i+'newclass'}}">{{m.amount| number : '.4-4'}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="askdata ==''">
              <tr>
                <td>
                  No Data
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="table-responsive tabe-responsive_left_sell">
                    <table class="table table-sm table-hover mb-4">
                        <thead>
                          <tr class="bg-black text-blue">
                            <th scope="col">Amount</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                           </tr>
                        </thead>
                       <tbody >
                              <tr class="" *ngFor="let m of askdata;let i = index;">
                                <td class="{{'text-right'+' '+i+'newclass'}}">{{m.amount*m.price | number : '.7-7'}}</td>
                                <td class="{{'text-red'+' '+i+'newclass'}}">{{m.price | number : '.7-7'}}</td>
                                <td class="{{'text-left'+' '+i+'newclass'}}">{{m.amount| number : '.4-4'}}</td>
                             
                              </tr>
                            </tbody>
                      </table>
                </div> -->
        <!-- <div class="sp-highlow"><ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer><small class="font-sm ml-2" style="font-size:2px" id="pricegreen" style="display: none" ><i class="fa fa-arrow-up text-green" style="font-size:12px" >{{highprice}} </i>
                           </small>
                           <small class="font-sm ml-2" style="font-size:2px" id="pricered" style="display: none" ><i class="fa fa-arrow-down text-red" style="font-size:12px">{{lowprice}} </i>
                           </small>
                  </div> -->
        <div class="sp-highlow">
          <ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
          <small class="font-sm ml-2" style="font-size:2px" id="pricegreen" style="display: none"><i
              class="fa fa-arrow-up text-green" style="font-size:12px">24H H:{{highprice}} </i>
          </small>
          <small class="font-sm ml-2" style="font-size:2px" id="pricered" style="display: none"><i
              class="fa fa-arrow-down text-red" style="font-size:12px">24H L:{{lowprice}} </i>
          </small>
        </div>
        <div class="table-responsive tabe-responsive_left_buy">

          <table class="table table-sm mb-4">
            <thead>
              <tr class="">

              </tr>
            </thead>
            <tbody>
              <tr class="" *ngFor="let m of biddata ;let i = index;">
                <td class="{{'text-left'+' '+i+'newclassask'}}">{{m.amount | number : '.4-4'}}</td>
                <td class="{{'text-green '+' '+i+'newclassask'}}">{{m.price | number : '.7-7'}}</td>
                <td class="{{'text-right'+' '+i+'newclassask'}}">{{m.amount*m.price | number : '.7-7'}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="biddata ==''">
              <tr>
                <td>
                  No Data
                </td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!-- <div class = "vertical"></div>  -->
      <div class="col-md-6" id="trade-details-tableContent">
        <div class="table-responsive tabe-responsive_right">
          <table class="table table-sm cust">
            <thead>
              <tr class="bg-black text-blue">
                <th scope="col"> Time</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <!-- <tbody id="marketTradeBody" [innerHTML]="marketTradeBodyHtml">
                            </tbody> -->
            <!-- <tbody >
                              <tr class="" *ngFor="let m of marketTradeRecords;let i = index;">
                                <td class="{{'text-left'+' '+i+'newclassmarket'}}">{{m.ledger_close_time | date:'h:mm:ss '}}</td>
                                <td class="{{'text-green text-green'+' '+i+'newclassmarket'}}">{{m.base_amount | number : '.4-4'}}</td>
                                <td class="{{'text-right'+' '+i+'newclassmarket'}}">{{m.counter_amount/m.base_amount | number : '.4-4'}}</td>
                              </tr>
                            </tbody> -->
            <tbody *ngIf="marketTradeRecords !=''">
              <tr class="" *ngFor="let m of marketTradeRecords;let i = index;">
                <td class="{{'text-left'+' '+i+'newclassmarket'}}">{{m.ledger_close_time | date:'h:mm:ss '}}</td>
                <td class="{{i+'newclassmarket'}}">{{m.base_amount | number : '.4-4'}}</td>
                <!--<td class="{{'text-right'+' '+i+'newclassmarket'}}">{{m.counter_amount/m.base_amount | number : '.7-7'}}
                                </td>  -->
                <td *ngIf="m.base_is_seller == false; else true_price"
                  class="{{'text-right text-green'+' '+i+'newclassmarket'}}">
                  {{m.counter_amount/m.base_amount | number : '.7-7'}}</td>
                <ng-template #true_price>
                  <td class="{{'text-right text-red'+' '+i+'newclassmarket'}}">
                    {{m.counter_amount/m.base_amount | number : '.7-7'}}
                  </td>
                </ng-template>

              </tr>
            </tbody>
            <tbody *ngIf="marketTradeRecords ==''">
              <tr>
                <td>
                  No Data
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-100 mt-2"></div>