
.resizable-widget {
    min-height: 310px !important;
}
.nav-tabs .nav-item {
    margin-right: 103px;
}

.vl {
    border-left:2px solid rgb(193, 204, 193);
    height:100%;
  }
  .pb-3, .py-3 {
    padding-bottom: 0rem !important;
}
.resizable-widget {
    /* min-height: 300px !important; */
    font-size: 12px!important;
}

.nav-tabs[_ngcontent-c6][_ngcontent-c6] .nav-item[_ngcontent-c6][_ngcontent-c6] {
    margin-right: 102px;
}
.text-blue {

    text-align: center;
}

.cust thead tr th:nth-child(1), .cust tbody tr td:nth-child(1), #marketTradeBody  tr td:nth-child(1){
    text-align: left;
}

.cust thead tr th:nth-child(2), .cust tbody tr td:nth-child(2) {
    text-align: right;
}

.cust thead tr th:nth-child(3), .cust tbody tr td:nth-child(3) {
    text-align: right;
}

td.text-white{background:transparent;}

.resizable-widget{
    /* font-size: 12px!important; */
    text-align: right;
    overflow: hidden;
 
}
.text-red {
    color: #ea4704!important;
}

.border-col{
    border-right:2px  solid rgb(8, 56, 2) ;
}

  .resizable-widget {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border:1px solid #a5a5a5;
    min-height: 286px !important;
    height:503px !important;
}
.tab-pane {
    padding-top: 0px;
    padding-bottom: 0px !important;
}

.sp-highlow {
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    position: relative;
    top: -3px;
    background: #273338;
    padding: 5px 2px;
    margin-right: 8px;
    border-radius: 2px;
}
.sp-highlow small.font-sm.ml-3 {
    display: block;
    width: 100%;
    margin: 0 !important;
}

    .tabe-responsive_right{
            overflow-y:scroll;
    }

.order-gap {

    padding-right: 5px;
}
.resizable-widget{min-height:auto;height:470px;}

/* .show dropdown element.style{
    width: 100% !important;
} */
.select-coin-list.show{
width: 215% !important;

}
.cont{
    /* height: 100px; */
    overflow-x: hidden;
    /* overflow-y: auto; */
    transform: rotate(180deg);
    direction:rtl;
    text-align:right;
    }
    .sell-orderbook{
    overflow: hidden;
    transform: rotate(180deg);
    margin-bottom: 0rem !important;
    }
th.toal-price{
    position: sticky;
    top: 0;
     }
     th.orderbook-price{
        position: sticky;
        top: 0;
    }
         th.mount-orderbook{
            position: sticky;
            top: 0;
             }
    
             .price-orderbook{
                display: inline-block;
                padding-right: 38px;
             }
             .order-id{
                display: flex;
        justify-content: space-between;
        background-color: rgb(39, 51, 56);
        color: rgb(211, 221, 221);
        width: 96%;
             }
.table-hight{
    height: 200px;
    overflow-x: hidden;
padding-left: 15px;
padding-right: 15px;
    
}
/* .table-hight.solid {border-style: solid;border-color: rgb(129, 123, 123);border-width: 2px;} */
.asset-font {
    font-size: 13px;
    color: white;
}
.menu-stl{border-style: solid !important;border-color: rgb(129, 123, 123)!important;border-width: 2px !important;}
.navbar-nav .dropdown-menu {
 
    padding-top: 2px;
}
.asset-dtl-font {
    font-size: 11px;
   
}
.navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
  
}
.header-fnt{
    font-size: 3px !important;
    
}
.text-head th{
    border: 1px solid #000;
    color: rgb(177, 175, 175) !important;
    padding: 5px !important;
    font-size: 14px;
    /* text-align: center; */
    
}
.text-r{
    text-align: right !important;
}
.label-sz{
    padding: 5px 10px !important;
}
.rap-select{
  /* background:rgb(47, 56, 63) ;   */
  padding-left: 4px;

}
/* #asset-table{
    margin: 0px 5px;
} */
.asset-dtl-font{
   
    margin: 0px 4px;
}
.asset-font[_ngcontent-c6] {
   
    background: #292828;
    padding: 5px 15px;
    display: inline-block;
}
.roc-green{
    color: rgb(59, 235, 67) !important;
}
.roc-red{
    color: rgb(247, 10, 22) !important;
}
#asset-table .btn-in{border:none !important;border-radius:0 !important;background:transparent !important;box-shadow:auto !important;}

#asset-table .btn.active{
    color: rgb(245, 241, 14) !important;
}
