<div [ngResizable]="data.resize" class="bg-dark p-2 pl-3 pr-3 rounded h-100 resizable-widget">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <h5 (click)="GetTradeDetail()" id="trade">MY TRADES</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="tab-pane active scrollable" id="my-trades" role="tabpanel" aria-labelledby="my-trades-tab">

          <div class="btn-group btn-group-sm" role="group" aria-label="my-trades-filter" style="margin-top:1px;">
            <!-- my-trades-filter class for previous view in trade-->
            <button type="button"
              class="btn btn-dark font-xs filter-button {{(myTradeTableDisplayStatus==0)?'btn_active':''}}"
              data-filter="all" (click)="myTradeDisplay(0)">ALL</button>
            <button type="button"
              class="btn btn-dark font-xs text-green filter-button {{(myTradeTableDisplayStatus==1)?'btn_active':''}}"
              data-filter="buy" (click)="myTradeDisplay(1)">BUY</button>
            <button type="button"
              class="btn btn-dark font-xs text-red filter-button {{(myTradeTableDisplayStatus==2)?'btn_active':''}}"
              data-filter="sell" (click)="myTradeDisplay(2)">SELL</button>
            <button type="button"
              class="btn btn-dark font-xs text-red filter-button {{(myTradeTableDisplayStatus==2)?'btn_active':''}}"
              data-filter="sell" data-toggle="tooltip" (click)="GetTradeDetail()"><img
                src="../../assets/img/icons8-refresh-16.png"></button>
          </div>
          <p></p>
          <div class="table-responsive-sm">
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr class="bg-black text-blue">
                    <th scope="col">Date - Time</th>
                    <th scope="col">Asset</th>
                    <th scope="col">Base</th>
                    <th scope="col">Cr. Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Buy/Sell</th>
                    </tr>
                
                </thead>
                <tbody id="myTradeBody">

                  <tr>
                    <td colspan="8" *ngIf="flag1==1" class="text-center">
                      <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
                    </td>
                  </tr>
                  <tr class="{{'filter'+' '+m.action|lowercase }}" *ngFor="let m of tradehistrybyId">
                    <td class="">{{m.transactionTimeStamp | date:'medium'}}</td>
                    <td class="">{{m.buying_asset_code}}</td>
                    <td class="">{{m.selling_asset_code}}</td>
                    <td class="">{{m.amount}}{{m.buying_asset_code}}</td>
                    <td class="">{{m.price}}</td>
                    <td class="text-success" *ngIf="m.action=='BUY'">{{m.action}}</td>
                    <td class="text-danger" *ngIf="m.action=='SELL'">{{m.action}}</td>
                  </tr>
                  <tr *ngIf="Nodata1">
                    <td colspan="8" class="text-center text-danger">No Data</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <h5 (click)="getOfferLists()" class="get-offer">MY OFFERS</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="tab-pane scrollable" id="my-offer" role="tabpanel" aria-labelledby="my-offer-tab">
          <div class="table-responsive-sm">
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>

                  <tr class="bg-black text-blue">
                    <th scope="col">Time</th>
                    <th scope="col">Offer Id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Value</th>
                    <th scope="col">Buy/Sell</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                      
                </thead>
                <tbody id="myOfferBody" class="myoffer-block" *ngIf="tradeofferbyId !=null">
                  <tr>
                    <td colspan="8" *ngIf="flag2==1" class="text-center">
                      <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
                    </td>
                  </tr>
                  <tr *ngFor="let m of tradeofferbyId">

                    <td>{{m.transactionTimeStamp | date:'medium'}}</td>
                    <td class="">{{m.offer_id}}</td>
                    <td class="">{{m.amount}}</td>
                    <td class="">{{m.price}}</td>
                    <td class="">{{m.amount*m.price|number : '.4-4'}}</td>
                    <td class="text-{{m.txn_type=='1'?'success':'danger'}}" *ngIf="m.txn_type==1">Buy</td>
                    <td class="text-{{m.txn_type=='1'?'success':'danger'}}" *ngIf="m.txn_type==2">Sell</td>
                    <td><button class="btn btn-dark btn-ex-sm" (click)="getOfferDetails(modify,m.offer_id)">
                        Modify</button></td>
                    <td><button class="btn btn-dark btn-ex-sm"
                        (click)="deleteTrade(delete,m.offer_id,m.txn_type,m.price)"> Delete</button></td>
                  </tr>

                </tbody>
                 <tbody class="myoffer-block" *ngIf="tradeofferbyId==null">

                  <tr>

                    <td colspan="8" class="text-center text-danger">No Data</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- //col-6 -->
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <h5 (click)="getStopLossOfferForBuy()">STOP-LIMIT</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle><span class="text-left" (click)="getStopLossOfferForBuy()">Buy</span></ng-template>
            <ng-template ngbTabContent>
              <div class="table-responsive-sm ">
                <table class="table table-sm">
                  <thead>
                    <tr class="bg-black text-blue">
                      <th scope="col">Time</th>
                      <th scope="col">Offer Id</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Stop-limit Price</th>
                      <th scope="col">Trigger Price</th>
                      <th scope="col">Buy/Sell</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
                    <td colspan="8" *ngIf="flag3" class="text-center">
                      <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
                    </td>
                  </thead>
                  <tbody id="stopLossBodyw" *ngIf="buydata">

                    <tr *ngFor="let s of buydata">
                      <td>{{s.timestamp | date:'medium' }}</td>
                      <td>{{s.offerId }}</td>
                      <td>{{s.quantity }}</td>
                      <td>{{s.stopPrice }}</td>
                      <td>{{s.triggerPrice }}</td>
                      <td class="text-success">Buy</td>
                      <td>
                        <button
                          (click)="modifyStoploss(modifystoploss,s.offerId,s.quantity,s.stopPrice,s.triggerPrice,'Buy')"
                          class="btn btn-dark btn-ex-sm">Modify</button>
                      </td>
                      <td>
                        <button class="btn btn-dark btn-ex-sm"
                          (click)="delStoploss(delstoploss,s.offerId,s.quantity,s.stopPrice,s.triggerPrice,'Buy')">Delete</button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8" class="text-center text-danger" *ngIf="buydata.length==0">No Data Available</td>
                    </tr>
                  </tbody>
                  <!-- <tbody id="stopLossBodyw" *ngIf="buydata==null">
                            <tr>
                              <td colspan="8" class="text-center text-danger">No Data Available</td>
                            </tr>
                          </tbody> -->
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="text-left" (click)="getStopLossOfferForSell()">Sell</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="table-responsive-sm">
                <table class="table table-sm">
                  <thead>
                    <tr class="bg-black text-blue">
                      <th scope="col">Time</th>
                      <th scope="col">Offer Id</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Stop-limit Price</th>
                      <th scope="col">Trigger Price</th>
                      <th scope="col">Buy/Sell</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
                    <tr>
                      <td colspan="8" *ngIf="flag4" class="text-center">
                        <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
                      </td>
                    </tr>
                  </thead>
                  <tbody id="stopLossBodyw" *ngIf="selldata">

                    <tr *ngFor="let s of selldata">
                      <td>{{s.timestamp | date:'medium' }}</td>
                      <td>{{s.offerId }}</td>
                      <td>{{s.quantity }}</td>
                      <td>{{s.stopPrice }}</td>
                      <td>{{s.triggerPrice }}</td>
                      <td class="text-danger">Sell</td>
                      <td>
                        <button
                          (click)="modifyStoploss(modifystoploss,s.offerId,s.quantity,s.stopPrice,s.triggerPrice,'Sell')"
                          class="btn btn-dark  btn-ex-sm">Modify</button>

                      </td>
                      <td>
                        <button class="btn btn-dark  btn-ex-sm"
                          (click)="delStoploss(delstoploss,s.offerId,s.quantity,s.stopPrice,s.triggerPrice,'Sell')">Delete</button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8" class="text-center text-danger" *ngIf="selldata.length==0">No Data Available</td>
                    </tr>
                  </tbody>
                  <!-- <tbody id="stopLossBodyw" *ngIf="selldata==null">
                            <tr>
                              <td colspan="8" class="text-center text-danger">No Data Available</td>
                            </tr>
                          </tbody> -->
                </table>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>

<!-- modify offer modal -->
<ng-template #modify let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Manage Offer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="">Amount</label>
      <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyAmount" name="a"
        #a="ngModel">
    </div>
    <div class="form-group">
      <label for="">Price</label>
      <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyPrice" name="b"
        #b="ngModel">
    </div>
    <div class="form-group">
      <label for="">Total Volume</label>
      <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyVolume"
        [value]="modifyAmount*modifyPrice" readonly>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="manageOffer(); modal.close() "
      [disabled]="a.pristine&&b.pristine">Submit</button>
  </div>
</ng-template>

<!-- modify stoploss modal -->
<ng-template #modifystoploss let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Manage Stop-limit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="">Amount</label>
      <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifySlAmount" name="a"
        #a="ngModel">
    </div>
    <div class="form-group">
      <label for="">Stop-limit Price</label>
      <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifySlPrice" name="b"
        #b="ngModel">
    </div>
    <div class="form-group">
      <label for="">Trigger Price</label>
      <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifySlTrigger" name="c"
        #c="ngModel">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="manageStoploss(); modal.close()"
      [disabled]="a.pristine&&b.pristine&&c.pristine">Submit</button>
  </div>
</ng-template>

<!-- delete modal -->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Offer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">Are you sure want to delete this offer?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">No</button>
    <button type="button" class="btn btn-warning" (click)="modal.close(); delOffer()">Yes</button>
  </div>
</ng-template>

<!-- delete stop loss modal -->
<ng-template #delstoploss let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Stop-limit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">Are you sure want to delete this stop-limit?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">No</button>
    <button type="button" class="btn btn-warning" (click)="modal.close(); removeStoploss()">Yes</button>
  </div>
</ng-template>