<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">
  <div class="row header-alignment d-flex" data-ng-init="loginDuration();" data-ng-controller="depositCtrl">
    <div class="col-xl-7 col-lg-6 col-12 pr-lg-0 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-lg text-green">
        </span>
        <div class="table-responsive-sm">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-black text-blue">
                <th scope="col">Fiat</th>
                <th scope="col">Balance</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let b of main.balencelist; let i=index">
              <tr *ngIf="b.sendAccess==0">
               <td class="text-yellow">{{b.currencyCode|uppercase}}</td>
                <td class="text-white">{{b.closingBalance}}</td>
                <td>
                  <a *ngIf="b.sendAccess==0" class="text-white deposit-btn" (click)="getDepositModal(deposit,b.currencyCode,b.closingBalance,b.currencyId)"
                    href="javascript:void(0);">DEPOSIT</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    <ng-template #deposit let-modal>
      <div class="w-100"></div>
      <div class="modal-header">
        <h5 class="modal-title text-blue" id="receiveModalLabel">Deposit</h5>
        <button class="close" type="button" (click)="modal.close()"> <span aria-hidden="true">×</span> </button>
      </div>
        <form autocomplete="off" (ngSubmit)="f.form.valid && depositAmount(orderID)" #f="ngForm">

          <div class="form-row mt-2">
            <div *ngIf ="CurrencyCode =='USD'" class="col-12 col-md-5 depo-text">
              <label for="staticPrice" class="col-form-label">Current {{CurrencyCode}} Balance</label>
            </div>
            <div *ngIf ="CurrencyCode !='USD'" class="col-12 col-md-5 depo-text">
              <label for="staticPrice" class="col-form-label">Current {{CurrencyCode}} Balance</label>
            </div>
            <div *ngIf ="CurrencyCode =='USD'" class="col-12 col-md-6">
              <span class="font-lg text-green">
                $ <ng2-odometer [number]="currencyValue" [config]="{ format: '(,ddd).dddd' }"></ng2-odometer>
              </span>
            </div>
            <div *ngIf ="CurrencyCode !='USD'" class="col-12 col-md-6">
              <span class="font-lg text-green">
                د.إ <ng2-odometer [number]="currencyValue" [config]="{ format: '(,ddd).dddd' }"></ng2-odometer>
              </span>
            </div>
          </div>
          <div class="form-row mt-2">
            <div class="col-12 col-md-5 depo-text">
              <label for="inputDepositAmount" class="col-form-label">Enter Deposit Amount</label>
            </div>
            <div class="col-12 col-md-7">
              <div class="input-group mb-2">
                <input type="number" step="0.01" class="form-control rounded only_amount" name="deposit_amount"
                  [(ngModel)]="deposit_amount" id="deposit_amount" placeholder="0.00"
                  #am="ngModel">
                    <div *ngIf ="CurrencyCode =='USD'" class="input-group-append">
                      <div class="input-group-text bg-transparent border-0">USD</div>
                    </div>
                    <div *ngIf ="CurrencyCode !='USD'" class="input-group-append">
                      <div class="input-group-text bg-transparent border-0">AED</div>
                    </div>
              </div>
              <small *ngIf="CurrencyCode =='USD'">
                <small>Minimum of $ {{minvalue}} and Maximum $ {{maxvalue}} can be withdrawn</small>
              </small>
              <small *ngIf="CurrencyCode !='USD'">
                <small>Minimum of {{minvalueAed}}د.إ and Maximum {{maxvalueAed}}د.إ can be withdrawn</small>
              </small>
            </div>
          </div>
          <div class="form-row mt-2 mb-2">
            <div class="col-12 col-md-8 offset-md-4" *ngIf="CurrencyCode =='USD'">
                <button type="submit" class="btn btn-green" id="payn" [disabled]="f.form.invalid||deposit_amount<minvalue||deposit_amount>maxvalue">PAY
                    NOW</button>
            </div>
            <div class="col-12 col-md-8 offset-md-4" *ngIf="CurrencyCode !='USD'">
              <button type="submit" class="btn btn-green" id="payn" [disabled]="f.form.invalid||deposit_amount<minvalueAed||deposit_amount>maxvalueAed">PAY
                  NOW</button>
          </div>
          </div>
        </form>
    </ng-template>
    <div class="col-xl-5 col-lg-6 col-12 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100"> <span class="font-md text-white mr-2">Bank Details</span>
        <div class="w-100"></div>
        <ul class="list-group mb-2">
          <li class="list-group-item user-deposit-data">
            <div class="d-flex">
              <div class="mr-auto text-dark">Bank Name:</div>
              <select (change)="gebankdtl($event.target.value)" >
                <option [value]="">Select Bank Name</option>
                <option *ngFor="let item of banks" [value]="item.bankId">{{item.bankname}}</option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Bank Account No:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{accountNo}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Routing No:</div>
              <div *ngIf="!routingNo">
                <span class="text-blue font-weight-bold font-sm">{{ibanNo}}</span>
              </div>
              <div *ngIf="routingNo !=null ">
                <span class="text-blue font-weight-bold font-sm">{{routingNo}}</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Beneficiary Name:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{beneficiaryName}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Swift Code:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{swiftCode}}</span></div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
    <div class="col-12 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
        <div class="d-flex">
          <div class="p-2 mr-auto"><span class="font-md text-white mr-2">Invoices</span></div>
        </div>
        <div class="w-100 mt-2"></div>
        <div class="table-responsive-sm">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-black text-white">
                <th scope="col">Date - Time</th>
                <th scope="col">Order Number</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-white" *ngFor="let i of invoiceList">
                <td>{{i.created|date:'medium'}}</td>
                <td>{{i.paymentOrders.order_no}}</td>
                <td *ngIf="i.paymentOrders.currency =='USD'; else aedCurrency">${{i.fiat_amount}}</td>
                <ng-template #aedCurrency>
                <td > د.إ{{i.fiat_amount}}</td>
                </ng-template>
                <td class="text-white" (click)="invoice(content,i.paymentOrders.order_no,i.fiat_amount,i.adminBankDetails.bankName,i.adminBankDetails.accountNo,i.adminBankDetails.routingNo,i.adminBankDetails.beneficiaryName,i.adminBankDetails.swiftCode,i.paymentOrders.currency,i.adminBankDetails.ibanNo)">
                  Invoice
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <ng-template #orderID let-modal>
      <div class="modal-header">
        <h5 class="modal-title text-blue" id="receiveModalLabel">Payment Order Generated</h5>
        <button class="close" type="button" (click)="modal.close()"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">
        <div clas="row">
          <div class="col-md-12">
            <h5>Order No: <span class="text-blue order_no">{{orderNoToShow}}</span></h5>
            <span>Please do a wire transfer within 72 hours to the below account </span>
            <ul class="list-group mb-2">
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="mr-auto text-dark">Bank Name:</div>
                  <div><span class="text-blue font-weight-bold font-sm">{{bankname}}</span></div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="mr-auto text-dark">Bank account No:</div>
                  <div><span class="text-blue font-weight-bold font-sm">{{accountNo}}</span></div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="mr-auto text-dark">Routing No:</div>
                  <div *ngIf="!routingNo">
                    <span class="text-blue font-weight-bold font-sm">{{ibanNo}}</span>
                  </div>
                  <div *ngIf="routingNo!=''">
                    <span class="text-blue font-weight-bold font-sm">{{routingNo}}</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="mr-auto text-dark">Beneficiary Name:</div>
                  <div><span class="text-blue font-weight-bold font-sm">{{beneficiaryName}}</span></div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="mr-auto text-dark">Swift Code:</div>
                  <div><span class="text-blue font-weight-bold font-sm">{{swiftCode}}</span></div>
                </div>
              </li>
            </ul>
            <p><span>*</span>Please include the <strong>order number</strong> in the wire deposit</p>
            <p><span>*</span>The request will expire in <strong>72 hours</strong></p>
            <p><span>*</span>Kindly note that the <strong>name</strong> and <strong>account number</strong> for the
              wire transfer should match details given in the website</p>
            <p><span>*</span>All transactions with incorrect details or towards expired request will be refunded in 15
              business days after deducting {{CurrencyCode}} 15 towards processing fees</p>
            <div class="col-12 d-flex">
              <button class="btn btn-success btn-sm mx-auto"
                (click)="data.alert('Thank you!! Once your wire transfer reaches us your wallet balance will be updated.','success',10000);modal.close();claearbankdetails()">OK</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="modal fade" id="invoice_modal" tabindex="-1" role="dialog" aria-labelledby="receiveModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-blue" id="receiveModalLabel">Invoice </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span
                aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>
  </div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Invoice</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div clas="row">
      <div class="col-md-12">
        <ul class="list-group mb-2">
          <li class="list-group-item bg-pbgreen">
            <div class="d-flex">
              <div class="mr-auto text-white">Order No:</div>
              <div><span class="text-white font-weight-bold font-sm">{{invoiceOrderNo}}</span></div>
            </div>
            <div class="d-flex">
              <div class="mr-auto text-white">Payment Method:</div>
              <div><span class="text-white font-weight-bold font-sm">Bank Transfer</span></div>
            </div>
            <div class="d-flex">
              <div class="mx-auto text-white font-weight-bold">CONFIRMED</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Bank account No:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{accountNo}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Routing No:</div>
              <div *ngIf="!routingNo">
                <span class="text-blue font-weight-bold font-sm">{{ibanNo}}</span>
              </div>
              <div *ngIf="routingNo !=null">
                <span class="text-blue font-weight-bold font-sm">{{routingNo}}</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Bank Name:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{bankName}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Beneficiary Name:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{beneficiaryName}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Swift Code:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{swiftCode}}</span></div>
            </div>
          </li>
          <li class="list-group-item bg-pbgreen">
            <div class="d-flex">
              <div class="mr-auto text-white">Amount:</div>
              <div *ngIf="currencyname ==='USD'">
                <span class="text-white font-weight-bold font-sm">${{invoiceAmount}}</span>
              </div>
              <div *ngIf="currencyname !='USD'">
                <span class="text-white font-weight-bold font-sm"> د.إ{{invoiceAmount}}</span>
              </div>
            </div>
            <div class="d-flex">
              <div class="mr-auto text-white">Total Amount:</div>
              <div *ngIf="currencyname =='USD'">
                <span class="text-white font-weight-bold font-sm">${{invoiceAmount}}</span>
              </div>
              <div *ngIf="currencyname !='USD'">
                <span class="text-white font-weight-bold font-sm"> د.إ{{invoiceAmount}}</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="col-12 d-flex">
          <button class="btn btn-success btn-sm mx-auto" (click)="modal.close()">OK</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
<ng-template #depodisc let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-blue" id="receiveModalLabel"> Disclaimer</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <form id="uc-cart-checkout-form">
      <ul class="list-group mb-2">
        <li class="list-group-item bg-pbgreen">
          <div class="d-flex">
            <div class="mr-auto text-white">Currency Name:</div>
            <div><span class="text-white font-weight-bold font-sm">{{currencyname}}</span></div>
          </div>
          <div class="d-flex">
            <div class="mr-auto text-white">Current EUR Balance:</div>
            <div><span class="text-white font-weight-bold font-sm">{{currentbalence}}</span></div>
          </div>
          <div class="d-flex">
            <div class="mr-auto text-white">Deposit Amount:</div>
            <div><span class="text-white font-weight-bold font-sm">{{dep_amount}}</span></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex">
            <div class="main" id="section1">
              <strong>ADVISORY / DISCLAIMER - For Skrill Users Only!</strong>

              <a href="#section2"></a>
                <p>You will now leave Lira Exchange and be taken to Skrill. Services relating
                    to credit card payments are provided by Skrill, which is a separate platform owned by a third party.
                    Please read and agree to the Terms of Use of Simplex before using the service. For any questions
                    relating to credit card payments, please contact merchantservices@skrill.com. Lira Exchange
                    does not assume any responsibility for any loss or damage caused by the use of the credit card payment
                    service.</p>
            </div>

          </div>
          <div class="mr-auto text-dark">Agree:</div>
          <div> <span class="text-white font-weight-bold font-sm"><input type="checkbox" id="disclaim"
                (click)="myFunction()"></span> </div>
        </li>
      </ul>
    </form>
  </div>
  <form #skrillForm action="https://pay.skrill.com" method="post">
    <input type="hidden" name="pay_to_email" value="alex.p@digitalterminal.net">
    <input type="hidden" name="status_url" value="https://example.com/
    process_payment.cgi">
    <input type="hidden" name="language" value="EN">
    <input type="hidden" name="return_url" value="http://localhost:4200/index.html#/deposit-funds">
    <input type="hidden" name="return_url_text" value="Back to Lira">
    <input type="hidden" name="cancel_url" value="http://localhost:4200/index.html#/deposit-funds">
    <input type="hidden" name="transaction_id" value={{TransactionId}}>
    <input type="hidden" name="amount" value={{dep_amount}}>
    <input type="hidden" name="currency" value={{currencyname}}>
    <input type="hidden" name="payment_methods" value="ACC">
    <input type="hidden" name="pay_from_email" value="dhriti.d@hashcashconsultants.com">
    <input type="hidden" name="firstname" value="{{fname}}">
    <input type="hidden" name="lastname" value="{{lname}}">
    <input type="hidden" name="detail1_description" value="Description:">
    <input type="hidden" name="detail1_text" value="Payment Received from">
    <input type="button" *ngIf="disclaim" (click)="skrillForm.submit()" class="skrill">
  </form>
</ng-template>