.btn-green {
    
    margin-left: 9px;
}
html {
    scroll-behavior: smooth;
  }
  
  #section2 {
    height: 600px;
    background-color: pink;
  }
  .depo-text{
    text-align: right !important;
  }
  .modal-header{
        border-bottom: 2px solid #e9ecef;
  }
  .table tbody + tbody {
    border-top: 1px solid #606366;
}
 