.drg{
    cursor: move;
}
.drg:active{
    z-index:9;
}
.btn{
    margin:2px;
    /* background: transparent; */
}

.bt.active{
    background: initial;
}

.btntitle{
    margin-left: 5px;
}

/* .dchart {
    height: 550px;
} */

@media screen and (max-width: 720px) {
    .btntitle{
        display: none;
    }
}
.night{
    background: black;
    }
    .day{
        background: rgb(227, 238, 230);
    }

    /* .content-wrapper {
        overflow-x: hidden;
        background: #0e9292;
    } */
    .screen-col{
        float: right;
    }
    .app-chart-table{position: relative;z-index:99;}
    .dpr{width:100px;float:left;margin-left:97px;position: relative;
    top: -5px;
    }
    .ordercol-md-5{
        padding-left: 9px;
        padding-right: 9px;
    }
    .col_md_7_new{
        padding-left: 9px;
        padding-right: 9px;   
    }
    .order_row_ml{
        margin-left: -9px;
        margin-right: -9px;
    }
    .left-container_fluid{
        padding-left:5px;
        padding-right:5px;
    }
    .padding-2{
        padding-right:2px !important;
        /* margin-top: 3px; */
        padding-left: 13px;
    }
   
  