<app-navbar></app-navbar>
<app-loader></app-loader>
<div class="content-wrapper pt-0 pl-3">

  <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="identityCtrl">
    <div class="col-md-12 col-12 mt-3 align-self-stretch">
      <div class="bg-dark p-2 rounded h-100"> <span class="font-md text-white mr-2 pl-3">Identity Verification (Tier 2)</span>
        <div class="w-100"></div>
        <span class='font-bold mr-2 pl-3' style="color:#d6a32d;">{{main.indentificationStatus}}</span>
        <form id="id_form">
          <div class="row mt-3">
            <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="profile_photo" class="text-white pl-3">Profile Photo</label>
                <div class="w-100"></div>
                <input type="file" id="file1" (change)="getSize('file1')" class="form-control w-75 id_file profile_pic"
                  name="profile_pic" />
                <img id="profile_photo" src="./assets/img/default.png" [lazyLoad]="main.profilePic"
                  alt="Cancelled Cheque Copy" class="ml-2 p-2 bg-black rounded" width="96" height="96" />
              </div>
              <small style="color:#007bff; ">* Please click a photo without wearing any hats, masks or
                glasses.</small><br>
              <small style="color:#007bff; ">* Kindly hold your ID Proof and Address Proof Document and a sheet of
                Paper with the Text - 'Only for trading cryptocurrencies on {{data.exchange}}.' Ensure all documents
                are clearly visible in photo.</small>
            </div>

            <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="aadhar_card_back_side" class="text-white pl-3">Address Proof</label>
                <div class="w-100"></div>
                <input type="file" id="file2" (change)="getSize('file2')"
                  class="form-control w-75 id_file aadhar_card_back_side" name="aadhar_card_back_side" />
                <img id="aadhar_card_back_side" src="./assets/img/default.png" [lazyLoad]="aadharCardBack"
                  alt="Cancelled Cheque Copy" class="ml-2 p-2 bg-black rounded" width="96" height="96" />
              </div>
              <small style="color:#007bff; ">* Utility Bill or Bank Account Statement from the last 3 months. Please do
                not submit Credit card bill.</small>
            </div>
            <!-- <div class="form-group">
                <label for="signupInputState">Country</label><span class="required">*</span>
                <select class="form-control validate" id="docCountry" name="country" [(ngModel)]="docCountry"
                  required>
                  <option value="" selected>Select Country</option>
                  <option value="{{c.code}}" *ngFor="let c of contries">{{c.name}}</option>
                </select>
              </div> -->
            <!-- <label for="" class=""> Document issued Country </label>
              <select class="form-control validate" id="docCountry" [(ngModel)]="docCountry" name="country" required>
                <option  selected>Select Country</option>
                <option value="{{c.code}}" *ngFor="let c of contries">{{c.name}}</option>
              </select> -->
            <!-- <div class="col-md-4">
              <label for="" class="">Date of Birth </label>
              <div class="calender-wrap">
                <input class="form-control" placeholder="TO DATE" name="dp" [(ngModel)]="dateofbirth"
                  [maxDate]='{year:currentYear,month:currentMonth,day:currentDay}' bsDaterangepicker ngbDatepicker
                  #do="ngbDatepicker" (click)="do.toggle()">
                <div class="input-group-append callender-btn">
                  <button class="btn btn-secondary" (click)="do.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="" class="">Document Type </label>
              <select class="form-control validate" [(ngModel)]="doctype" id="signupInputCountry" name="country"
                required>
                <option value="" selected>Select Doctype</option>
                <option value="pp">Passport</option>
                <option value="DL">Drivers Licence</option>
                <option value="ID">Government ID</option>
                <option value="RP">Residence Permit</option>
                <option value="UB">Utility Bill</option>
              </select>
             -->
            <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="pan_card_photo" class="text-white pl-3">ID Proof Front</label>
                <div class="w-100"></div>
                <input type="file" id="file3" (change)="getSize('file3')" class="form-control id_file w-75 pan_card_pic"
                  name="pan_card_pic" autofocus />
                <img id="pan_card_photo" src="./assets/img/default.png" [lazyLoad]="panCardPic"
                  alt="Cancelled Cheque Copy" class="ml-2 p-2 bg-black rounded" width="96" height="96" />
              </div>
              <small style="color:#007bff; ">* Only government issued documents such as Driver's license,Identity
                Cards,etc,are applicable</small>
              <!-- <small style="color:#007bff; ">* Please click a photo without wearing any hats, masks or
                glasses.</small><br>
              <small style="color:#007bff; ">* Kindly hold your ID Proof and Address Proof Document and a sheet of
                Paper with the Text - 'Only for trading cryptocurrencies on {{data.exchange}}.' Ensure all documents
                are clearly visible in photo.</small> -->
            </div>
            <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="aadhar_card_front_side" class="text-white pl-3">ID Proof Back</label>
                <div class="w-100"></div>
                <input type="file" id="file4" (change)="getSize('file4')"
                  class="form-control w-75 id_file aadhar_card_front_side" name="aadhar_card_front_side" />
                <img id="aadhar_card_front_side" src="./assets/img/default.png" [lazyLoad]="aadharCardFront"
                  alt="Cancelled Cheque Copy" class="ml-2 p-2 bg-black rounded" width="96" height="96" />
              </div>
              <small style="color:#007bff; ">* Only government issued documents such as Driver's license,Identity
                Cards,etc,are applicable</small>
            </div>
            <!-- <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="pan_card_photo" class="text-white pl-3">ID Proof Front</label>
                <div class="w-100"></div>
                <input type="file" id="file3" (change)="getSize('file3')" class="form-control id_file w-75 pan_card_pic" name="pan_card_pic" />
                <img id="pan_card_photo" src="./assets/img/default.png" [lazyLoad]="panCardPic" alt="Cancelled Cheque Copy"
                  class="ml-2 p-2 bg-black rounded" width="96" height="96" />
              </div>
              <small style="color:#007bff; ">* Only government issued documents such as Driver's license,Identity
                Cards,etc,are applicable</small>
            </div> -->

            <!-- <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="aadhar_card_front_side" class="text-white pl-3">ID Proof Back</label>
                <div class="w-100"></div>
                <input type="file" id="file4" (change)="getSize('file4')" class="form-control w-75 id_file aadhar_card_front_side"
                  name="aadhar_card_front_side" />
                <img id="aadhar_card_front_side" src="./assets/img/default.png" [lazyLoad]="aadharCardFront" alt="Cancelled Cheque Copy"
                  class="ml-2 p-2 bg-black rounded" width="96" height="96" />
              </div>
              <small style="color:#007bff; ">* Only government issued documents such as Driver's license,Identity
                Cards,etc,are applicable</small>
            </div> -->

            <div class="col-md-6 bg-transparent">
              <div class="form-row mt-2 mb-2 float-left">
                <button type="button" class="btn btn-green" id="id_form_btn" (click)="upload(confirm)">SAVE
                  CHANGES</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="tiertwo" style="display:none" >
  <div class="row d-flex" data-ng-init="tiretwoSubmit();"  data-ng-controller="identityCtrl">
    <div class="col-md-12 col-12 mt-3 align-self-stretch">
      <div class="bg-dark p-2 rounded h-100"> <span class="font-md text-white mr-2 pl-3">Identity Verification (Tier 3)</span>
        <div class="w-100"></div>
        <span class='font-bold mr-2 pl-3' style="color:#d6a32d;">{{main.indentificationStatustwo}}</span>
         <form id="id_form">
          <div class="row mt-3">
            <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <input type="radio" id="Itype" class="Itype" value="1" (click)="radioOn()" />
                <label for="Btype" class="text-white pl-3" >Individual</label>
                <input type="radio" id="Btyp" class="Btype" value="2" (click)="radioOff()"/>
                <label for="profile_photo" class="text-white pl-3">Enterprise</label>
               </div>
               </div>
            <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="tinno" class="text-white pl-3" id="" >Tax Identification Number</label>
                <div class="w-100"></div>
                <input type="text" id="tinno" maxlength="15"
                  class="form-control w-75 id_file tinno" name="tinno" />
               
              </div>
            </div>
          
            <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="pan_card_photo" class="text-white pl-3">Bank Statement</label>
                <div class="w-100"></div>
                <input type="file" id="file5" (change)="getSizeforT2('file5')"
                  class="form-control w-75 id_file bank_statement_doc" name="bank_statement_doc" />
                <!-- <img id="bank_statement_doc_pic" src="./assets/img/default.png" [lazyLoad]="bankStatement"
                  alt="Cancelled Cheque Copy" class="ml-2 p-2 bg-black rounded" width="96" height="96" /> -->
                  <!-- <label for="pan_card_photo" class="text-white pl-3">{{bankStatement}}</label> -->
                  <small id="docname1" style="display:none"  style="color:#007bff; ">* Uploaded file is {{bankStatement}}.</small>
              </div>
            
            </div>
            <div class="col-md-6 bg-transparent">
              <div class="form-row">
                <label for="aadhar_card_front_side" class="text-white pl-3">Tax Statement</label>
                <div class="w-100"></div>
                <input type="file" id="file6" (change)="getSizeforT2('file6')"
                  class="form-control w-75 id_file tax_statement_pic" name="tax_statement_pic" />
                <!-- <img id="tax_statement_pic" src="./assets/img/default.png" [lazyLoad]="taxStatement"
                  alt="Cancelled Cheque Copy" class="ml-2 p-2 bg-black rounded" width="96" height="96" /> -->
                  <!-- <label for="aadhar_card_front_side" class="text-white pl-3">{{taxStatement}}</label> -->
                  <small id="docname2" style="display:none" style="color:#007bff; ">* Uploaded file is {{taxStatement}}.</small>
              </div>
              <!-- <small style="color:#007bff; ">* Only government issued documents such as Driver's license,Identity
                Cards,etc,are applicable</small> -->
            </div>
                   <div class="col-md-6 bg-transparent">
              <div class="form-row mt-2 mb-2 float-left">
                <button type="button" class="btn btn-green" id="id_form_btn" (click)="tiretwoSubmit()">SAVE
                  CHANGES</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <!-- /.container-fluid-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center"> <small>Copyright © Paybito 2018</small> </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top"> <i class="fa fa-angle-up"></i> </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" data-ng-click="logout()">Logout</a> </div>
      </div>
    </div>
  </div>

  <!-- confirm modal -->
  <ng-template #confirm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Editing these details will restrict some features until verification.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">No</button>
      <button type="button" class="btn btn-warning" (click)="uploadDocs(); modal.close();">Yes</button>
    </div>
  </ng-template>
  <!-- request for upload doc -->
 
</div>
